bokeh @ file:///tmp/build/80754af9/bokeh_1593187602660/work
certifi==2020.6.20
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.22.0
olefile==0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1592841659173/work
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
tornado==6.0.4
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
Werkzeug==1.0.1
